.header{
    text-align:center;
    padding: 1%;
    background-color: rgb(1, 1, 143);
    font-size: 3vw;
    color: white;
    margin-bottom: 2%;
}

.page{
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:500px;
  height:500px;
}

.container {
  display: grid;

  width: 500px;
  height: 500px;
  background-color: rgb(1, 1, 143);
  padding:10px;
}


.clear {
  text-align:center;
  width: 100%;
  padding: 1%;
  background-color: white;
  border-color: rgb(1, 1, 143);
  border-radius: 15px;
  font-size: 1.5vw;
  color: black;
  margin-bottom: 2%;
}